<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Add Employee</title>
</head>
<body>
<div class="container">
    <h3>Add Employee</h3>
    <hr>
    <form action="#" th:action="@{/employees/save}" th:object="${employee}" method="post">
        <input class="form-control mb-4 col-6" type="text" th:field="*{firstName}" placeholder="First Name">
        <input class="form-control mb-4 col-6" type="text" th:field="*{lastName}" placeholder="Last Name">
        <input class="form-control mb-4 col-6" type="text" th:field="*{email}" placeholder="Email">

        <button class="btn btn btn-primary" type="submit">Save</button>
    </form>
</div>
</body>
</html>